---
layout: minimal
title: "关于我"
permalink: /about/index.html
description: "Some description about Victor Igor..."
---

<img itemprop="image" class="img-rounded about_perfil" src="{{ site.profile_picture }}" alt="My profile">

<h2>{{ site.description }}</h2>

<div class="aboutme">
	<p>我的项目：</p>
	<ul class="recent">
		{% for project in site.projects %}
		<li>
			{% if project.new_tab%}
			<a target="_blank" title="{{ project.desc }}}" href="{{ project.url }}">
				{% else %}
				<a title="{{ project.desc }}}" href="{{ project.url }}">
					{% endif %}

					{% if project.highlight %}
					<h2 class="post-title" itemprop="name">#
						<mark style="background-color: darkorange;color: yellow"> {{ project.highlight }} </mark>
						{{ project.title }} - {{ project.desc }}
					</h2>
					{% else %}
					<h2 class="post-title" itemprop="name"># {{ project.title }} - {{ project.desc }}</h2>
					{% endif %}
				</a>
		</li>
		{% endfor %}
	</ul>
</div>

