<section class="comments">
    <h4>
        <span id="{{ page.url }}" class="leancloud_visitors" data-flag-title="{{ page.title }}">
            <em class="post-meta-item-text">> 阅读量: </em>
            <i class="leancloud-visitors-count">0</i>
        </span>
    </h4>
    <div id="vcomments"></div>
    <script>
        new Valine({
            el: '#vcomments',
            appId: '{{ site.valine_appid }}',
            appKey: '{{ site.valine_appkey }}',
            visitor: true
        })
    </script>
</section>