<header class="header-site" role="banner">
    <div class="content">

        <div class="person">
            <img alt="My photo" src="{{site.profile_picture}}">
        </div>

        <h1>
            <span class="site-title">[{{site.username}}]</span>
        </h1>

        <div class="icons-home">
            <a aria-label="Send email" title="给我邮件" href="mailto:{{site.email}}">
                <svg class="icon icon-email"><use xlink:href="#icon-email"></use></svg>
            </a>

            <a aria-label="My Github" title="我的GitHub" target="_blank" href="https://github.com/{{site.github_username}}">
                <svg class="icon icon-github-alt"><use xlink:href="#icon-github-alt"></use></svg>
            </a>

            <a aria-label="My LinkedIn" title="Show my linkedin profile" target="_blank" href="https://www.linkedin.com/in/{{site.linkedin_public_url}}">
                <svg class="icon icon-linkedin"><use xlink:href="#icon-linkedin"></use></svg>
            </a>

            <a aria-label="Use the RSS to get updated" title="RSS" target="_blank" href="{{ "/feed.xml" | prepend: site.baseurl }}">
                <svg class="icon icon-rss"><use xlink:href="#icon-rss"></use></svg>
            </a>
        </div>
        <ul class="recent">
            <p>项目:</p>
            {% for project in site.projects limit:5%}
                <li>
                    <a target="_blank" title="{{ project.desc }}}" href="{{ project.url }}">
                        {% if project.highlight %}
                            <h2 class="post-title" itemprop="name">#
                                <mark style="background-color: darkorange;color: yellow"> {{ project.highlight }} </mark>
                                {{ project.title }} - {{ project.desc }}
                            </h2>
                        {% else %}
                            <h2 class="post-title" itemprop="name"># {{ project.title }} - {{ project.desc }}</h2>
                        {% endif %}
                    </a>
                </li>
            {% endfor %}
        </ul>

        <ul class="recent">
            <p>博客:</p>
             {% for post in site.posts limit:5%}
                <li>
                    <a title="{{ post.description }}" href="{{ post.url | prepend: site.baseurl }}">
                        <h2 class="post-title" itemprop="name">> {{ post.title }}</h2>
                    </a>
                </li>
              {% endfor %}
        </ul>



    </div>
    {% include menu-search.html %}
</header>
