<div class="tree-posts">

    <h3> # 目录</h3>

    {% for project in site.projects %}

    <article role="article" class="post-item" itemscope="itemscope" itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
        <div class="content">
            <a title="{{project.desc}}}" target="_blank" href="{{ project.url }}">
                <h2 class="post-title" itemprop="name">> {{ project.title | replace: ' ','-'}} [{{ project.desc }}]</h2>
            </a>
        </div>
    </article>

    {% endfor %}

</div>
